api.boilerplate.localhost {
	reverse_proxy localhost:3000
}

app.boilerplate.localhost {
	reverse_proxy localhost:5173
}

mailbox.boilerplate.localhost {
	reverse_proxy localhost:8025
}

storage.boilerplate.localhost {
	reverse_proxy localhost:8069
}
