{
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "tailwindFunctions": ["clsx"],
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "lf",
  "tailwindStylesheet": "./app/app.css"
}
